body{
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  font-family: -apple-system,BlinkMacSystemFont,San Francisco,Helvetica Neue,Helvetica,Ubuntu,Roboto,Noto,Segoe UI,Arial,sans-serif;;
  font-size: 16px;
  --primary-color: #835351;
  --grey-color: #888888;
}
.imageContainer{
  background-image: url("kent-tupas-WaUcTYPfiCU-unsplash_low.jpg");
  background-size: cover;
  flex: 1 1 200px;

}
.formContainer{
  flex: 1 1 600px;
}

@media screen and (min-width: 800px){
  body{
    flex-direction: row;
  }
  .imageContainer{
    flex: 1 1 200px;
  }
  .formContainer{
    flex: 1 1 600px;
  }
}

.imageContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.heading{
  flex: 0;
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.3);
  padding: 50px 30px;
}

.heading h1{
  font-size: 4rem;
}
.heading p{
  font-size: 1rem;
  color: rgb(243, 243, 243);
  font-style: italic;
}

.formContainer{
  display: flex;
  align-items: center;
}
form{
  padding: 20px;
}
form h2{
  font-size: 1.5rem;
  font-weight: 400;
}

form .inputGroup{
  border: 1px solid var(--grey-color);
  border-radius: 7px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}

.inputGroup h2{
  flex: 1 0 100%;
}
.inputContainer{
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  margin: 5px;
  padding: 5px;
  width: max(250px, 45%);
}

.inputContainer input{
  height: 30px;
  font-size: 1.2rem;
}

.inputContainer label{
  color: var(--primary-color);
  font-weight: 600;
}
 
button{
  background-color: var(--primary-color);
  border: none;
  color: white;
  width: 120px;
  height: 40px;
  margin-top: 20px;
  border-radius: 6px;
}

button:hover{
  background-color: #dea076;
}

button:active{
  transform: translate(1px, 2px);
}

input{
border: 1px solid var(--grey-color);
padding: 2px 4px;
border-radius: 3px;
}

input:focus-visible{
  outline: none;
}

.submitted input:invalid{
  border: 1px solid rgb(255, 151, 157);
  background-color: rgb(253, 255, 232);
  animation: shakeElement 50ms 10 forwards;
}

a, a:visited, a:active, a:hover{
  color: var(--primary-color);
}

@keyframes shakeElement {
  0%{
    transform: translate(5px, 2px);
  }
  50%{
    transform: translate(-5px, -2px);
  }
  100%{
    transform: translate(0);
  }
}