body{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.game{
    width: 300px;
    height: 300px;
    display: flex;
    font-family: sans-serif;
    border-radius: 5px;
}

.logo{
    text-align: center;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}
.logoTitle{
    font-size: 30px;
}
.logoDescription{
    width: fit-content;
    padding: 5px 10px;
    margin-top: 8px;
    font-size: 16px;
    border-radius: 5px;
    color: white;
    background-color: rgb(13, 145, 105);
    font-weight: bold;
}

.creditsContainer{
    margin-top: 50px;
}
.credits{
    padding: 3px 0;
}

.credits a{
    color: rgb(170, 115, 12);
    font-weight: bold;
    font-family: Calibri;
    text-decoration: none;
}

.rules{
    background-color: rgb(249, 250, 198);
    width: 95%;
    padding: 10px 5px;
    border-radius: 6px;
    border: 2px solid rgb(223, 208, 0);
    margin-bottom: 10px;
}
.rules p{
    margin-top: 5px
}
