/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Css Reset End
*/


body{
    font-family: 'Calibri';
    display: flex;
    flex-direction: column;
    align-items: center;
}


h1{
    font-size: 40px;
    width: 700px;
    text-align:center;
    margin: 20px;
}

h2{
    background-color: rgb(245, 245, 245);
    padding: 10px;
    width: 300px;
    margin: 20px;
    border: 1px solid black;
}
#new_book_form{
    display: flex;
    flex-direction: column;
    width:300px;
    padding: 10px;
    border: 1px solid black;
    margin: 20px;
    background-color: rgb(245, 245, 245);
}

#books_container{
    width: 700px;
}
input{
    height: 25px;
}
.book{
    display: flex;
    text-align: left;
    padding: 5px;
    border: 1px solid black;
}
.book-header{
    padding: 5px;
    background-color: rgb(245, 245, 245);
}
.book-title{
    width:150px
}
.book-author{
    width:150px
}
.book-pages{
    width:80px;
    text-align: center;
}
.book-status{
    width:100px
}
.book-action{
    width:240px;
    text-align: center;
}
.book-action > button{
    margin: 5px;
}
.book-old{
    color: green;
}
.book-new{
    color: brown;
}
#aboutMe, #aboutMe:link, #aboutMe:visited{
    text-decoration: none;
    color: black;
    margin-top: 20px;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
}

#aboutMe:hover, h2:hover{
    color: rgb(245, 245, 245);
    background-color: rgb(53, 53, 53);
    font-weight: bold;
}
