.slider{
    border: 2px solid rgb(143, 143, 143);
    border-radius: 5px;
    width: 500px;
}
.sliderImages{
    width: 500px;
    overflow: hidden;
    display: flex;
}
.slide{
    width: 100%;
    flex: 0 0 100%;
}
img{
    width: 100%;
}
.caption{
    width: 90%;
    height: 60px;
    font-size: 20px;
    text-align: center;
    padding: 5px;
}

.shortcuts, .buttons{
display: flex;
align-items: center;
justify-content: center;
gap: 10px;
margin: 10px;
}

.slideShortcut{
    width: 10px;
    height: 10px;
    border: 1px solid #000;
    cursor: pointer;
}
.slideShortcut.active{
    background-color: #000;
}

.slideButton{
    width: 100px;
    height: 30px;
}