body{
    margin-top: 40px;
}
.slider{
    border: 1px solid rgb(119, 96, 76);
    border-radius: 5px;
    width: 300px;
    margin: 0 auto 0 auto;
}
.sliderTitle{
    margin: 0;
    width: 300px;
    margin: 50px auto 10px auto;
    font-family: sans-serif;
    font-weight: 400;
    font-size: xx-large;
}
.sliderImages{
    width: 300px;
    overflow: hidden;
    display: flex;
}
.slide{
    display: none;
    width: 100%;
    flex: 0 0 100%;
}
.slide.active{
    display: block;
    animation: fadeIn 1s;
}
@keyframes fadeIn {
    0%{opacity: .4;}
    100%{opacity: 1;}    
}
img{
    width: 100%;
}
.caption{
    text-align: left;
    width: 90%;
    height: 60px;
    font-size: 20px;
    padding: 20px;
}

.shortcuts, .buttons{
display: flex;
align-items: center;
justify-content: center;
gap: 10px;
margin: 10px;
}

.slideShortcut{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #77604c;
    cursor: pointer;
}
.slideShortcut.active{
    background-color: rgb(250, 202, 174);
    border: 2px solid rgb(187, 104, 37);
    animation: fadeIn .3s;
}

.slideButton{
    background-color: #facaae;
    border: 1px solid #bb6825;
    color: #bb6825;
    font-weight: bold;
    font-size: 22px;
    border-radius: 5px;
    width: 70px;
    height: 30px;
}

.credits{
    width: 300px;
    margin: 10px auto 10px auto;
    font-family: 'Courier New', Courier, monospace;
}

a{
    color: #bb6825;   
}
a:visited{
    color: #77604c;      
}